In [1]:
import math
import sys,os
import numpy as np
import pandas as pd

sys.path.append('/Users/Ziqi/Downloads/mgwr/')
from gwr.gwr import GWR,GWRResults
from gwr.sel_bw import Sel_BW
from spglm.family import Gaussian, Poisson, Binomial

In [2]:
zillow = pd.read_csv("zillow_5k.csv",sep=',')
zillow.head()

            utmX          utmY    value  nbaths  nbeds    area   age
0  379979.957285  3.752562e+06   87.397     2.0    3.0  1311.0  61.0
1  411210.623578  3.762339e+06  121.211     2.0    4.0  1200.0  62.0
2  400287.486356  3.743925e+06   76.145     1.0    2.0   724.0  70.0
3  391029.680899  3.776406e+06  136.320     2.0    3.0  1890.0  54.0
4  371824.111160  3.750099e+06  100.499     4.0    5.0  2166.0  71.0

In [3]:
#Converting things into matrices
y = zillow.value.as_matrix().reshape(-1,1)
X = zillow.iloc[:,3:].as_matrix()
k = zillow.shape[1]
u = zillow.utmX
v = zillow.utmY
n = zillow.shape[0]
coords = list(zip(u,v))

In [4]:
%%time
bw = 500
pysal_Result=GWR(coords,y,X,bw).fit()

CPU times: user 25.2 s, sys: 1.62 s, total: 26.8 s
Wall time: 16.4 s

In [5]:
#Running FastGWR 1 Processor
!mpiexec -n 1 python FastGWR.py -data zillow_5k.csv -out fastGWRResults.csv -bw 500

Starting FastGWR with 1 Processors
Reading zillow_5k.csv
Diagnostic Information:
AICc: 62399.20298289509
ENP: 132.55823390039848
R2: 0.6986625064785045
Total Time Elapsed: 3.1845099925994873 seconds

In [14]:
#Running FastGWR 2 Processors
!mpiexec -n 2 python FastGWR.py -data zillow_5k.csv -out fastGWRResults.csv -bw 500

Starting FastGWR with 2 Processors
Reading zillow_5k.csv
Diagnostic Information:
AICc: 62399.20298289509
ENP: 132.55823390039848
R2: 0.6986625064785045
Total Time Elapsed: 2.063333034515381 seconds

In [15]:
pysal_Result.R2

0.6986624931885266

In [16]:
pysal_Result.aicc

62399.20315246711

In [17]:
pysal_Result.tr_S

132.55820977588786

In [18]:
fastGWR_result = pd.read_csv("fastGWRResults.csv")
fastGWR_result.head()

,index,residual,yhat,influ,b_intercept,b_nbaths,b_nbeds,b_area,b_age,se_intercept,se_nbaths,se_nbeds,se_area,se_age
0,0.0,3.512059,83.884941,0.010853,2.571366,2.978601,5.131743,0.067003,-0.457055,56.558339,18.302385,12.821886,0.030091,0.513125
1,1.0,72.505992,48.705008,0.018748,25.630784,11.642206,-25.713497,0.145365,-1.157966,55.641476,17.079949,11.298036,0.017929,0.585781
2,2.0,37.792774,38.352226,0.017085,70.665350,5.548814,-6.551173,0.093067,-1.316290,55.729722,16.806056,11.825770,0.021411,0.610057
3,3.0,-60.409973,196.729973,0.013437,60.811820,3.897048,-24.768389,0.132632,-0.893417,38.328165,14.550324,10.837542,0.018351,0.348758
4,4.0,-124.192872,224.691872,0.072594,-33.406079,14.888404,-15.429985,0.171549,-1.350430,59.950465,15.061693,11.331094,0.019703,0.645346

In [19]:
#Validate yhat
np.allclose(fastGWR_result.yhat,pysal_Result.predy.reshape(-1),atol=1e-4)

True

In [20]:
#Validate Params
np.allclose(np.array(fastGWR_result.iloc[:,4:9]),pysal_Result.params,atol=1e-3)

True

In [21]:
#Validate SEs
np.allclose(np.array(fastGWR_result.iloc[:,9:14]),pysal_Result.bse,atol=1e-4)

True